<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="d-flex flex-column" th:fragment="footer">
        <div class="container d-flex flex-row justify-content-between align-items-center ">
            <p>&copy; 2025 https://expense-manager-vzx5.onrender.com. All rights reserved.</p>
            <div class="social-links d-flex flex-column justify-content-around">
                <a href="https://www.linkedin.com/in/javier-medarde-mata-991689181/" target="_blank"><img src="images/linkedin.png" alt="linkedin"></a>
                <a href="https://github.com/JavierMedarde99" target="_blank"><img src="images/github.png" alt="github"></a>
                <a href="mailto:javiermedmata99it@gmail.com" target="_blank"><img src="images/mail.png" alt="mail"></a>
            </div>
        </div>
    </div>
</body>
</html>