<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <nav class="navbar navbar-dark bg-body-tertiary page mb-3" th:fragment="header">
    <div class="d-flex flex-row w-100">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <img class="offcanvas-title" id="offcanvasNavbarLabel" src="images/logo.webp" alt="log" width="100px">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Expense Manager</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active text-black" aria-current="page" href="/">Dashboard</a>
            </li>
            <li class="nav-item">
              <form action="/month" method="post">
                <button class="nav-link text-black">Month</button>
              </form>
            </li>
            <li class="nav-item">
              <form action="/year" method="post">
                <button class="nav-link text-black">Year</button>
              </form>
            </li>
            <li class="nav-item">
              <form action="/logout" method="post">
                <button class="nav-link text-black">logout</button>
              </form>
            </li>
            <li class="nav-item">
              <form action="/deleteUser" method="post">
                <button class="nav-link text-black">delete user</button>
              </form>
            </li>
            <li class="nav-item">
              <form action="/updateUser" method="post">
                <button class="nav-link text-black">update user</button>
              </form>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</body>

</html>