<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:insert="~{web/fragments/header :: header}" class="d-flex flex-column" style="border: 1px black solid;"></header>
    <form action="/getMonth" method="post">
        <select name="month" id="month" >
            <div th:each="month : ${months}">
            <option th:value="${month.value}" th:text="${month.name}"></option>
            </div>
        </select>
        <select name="year" id="year" th:each="year : ${years}">
            
            <option th:value="${year.value}" th:text="${year.value}"></option>
        </select>
    </form>
    <table class="table table-primary table-bordered" >
        <tr >
            <th class="text-bg-dark text-center align-middle">Month</th>
            <th class="text-bg-dark text-center align-middle">Salary</th>
            <th class="text-bg-dark text-center align-middle">revenue</th>
            <th class="text-bg-dark text-center align-middle">Name</th>
            <th class="text-bg-dark text-center align-middle">bills</th>
            <th class="text-bg-dark text-center align-middle">amount</th>
        </tr>
        <tr>
            <td th:rowspan="${amountBills}" th:text="${month}" class="text-center align-middle"></td>
            <td th:rowspan="${amountBills}" class="text-center align-middle">1710</td>
            <td th:rowspan="${amountBills}" th:text="${revenue}" class="text-center align-middle"></td>
        </tr>
        <tr th:each="bill: ${bills}">
            <td th:text="${bill.name}" class="text-center align-middle"></td>
            <td th:text="${bill.price}" class="text-center align-middle"></td>
            <td th:text="${bill.amount}" class="text-center align-middle"></td>
            
        </tr>
        <tr>
            <td class="text-center align-middle">Total</td>
            <td colspan="2" th:text="${total}" class="text-center align-middle"></td>
        </tr>
    </table>
</body>
</html>