.page {
    background-color: #272727 !important;
}

input,
select {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    background-color: #272727 !important;
    color: white !important;
    border-radius: 0 !important;
}

::placeholder {
    color: white !important;
}

#button_form {
    background-color: #E58947 !important;
}

.button_form {
    background-color: #E58947 !important;
}

.offcanvas {
    background-color: #f3faee !important;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;

}


@media screen and (max-width: 600px) {
    #form-div {
        flex-wrap: wrap;
    }

    table>* {
        font-size: smaller;
    }
}