.page {
    background-color: #e6e7d6 !important;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}

input,
select {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    background-color: #d6d8c8 !important;
    color: black !important;
    border-radius: 0 !important;
}

::placeholder {
    color: black !important;
}

#button_form {
    background-color: #77dd77 !important;
}

.button_form {
    background-color: #E58947 !important;
}

.offcanvas {
    background-color: #f3faee !important;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

a {
    text-decoration: none;
}

.graph {
    position: fixed;
    top: 35%;
    right: 0;
    width: 12%;
    /* Ajusta según la posición deseada */
}

.graph2 {
    position: fixed;
    top: 35%;
    right: 88%;
    width: 12%;
    /* Ajusta según la posición deseada */
}

#table{
    width: 100%;
    margin-left: 12%;
    margin-right: 12%;
}

td{
    background-color: #e6e7c6 !important;
}

th{
    background-color: #d6d8c8 !important;
}

#graph{
    width: 12%;
}

@media screen and (max-width: 600px) {
    #form-div {
        flex-wrap: wrap;
    }

    table>* {
        font-size: smaller;
    }

    .graph {
        position: relative;
    }
    
    .graph2 {
        position: relative;
    }

    #table{
        width: 100%;
    }

    #graph{
        display: flex !important;
        flex-flow: row wrap !important;
    }
    
}